<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <table class="table table-condensed">
        <caption>사용자 목록</caption>
        <thead>
            <tr>
                <td>사용자 아이디</td>
                <td>이름</td>
                <td>이메일</td>
            </tr>
        </thead>
        <tbody>
            {{#users}}
                <tr>
                    <th scope="row">{{userId}}</th>
                    <td>{{userName}}</td>
                    <td>{{userEmail}}</td>
                </tr>
            {{/users}}
        </tbody>
    </table>
</div>

</body>
</html>